@{
    ViewBag.Title = "Sky Bridge";
}

<h2 style="text-align:center"><b>Welcome to SkyBridge Inventory</b></h2>
<div ng-controller="HomeController" class="text-center">
    <a href="home/login" class="btn btn-primary btn-lg" style="align-items:center">Login</a>
</div>